@media screen and (min-width:781px) {
  footer{

  }
}
@media screen and (max-width:480px) {
  #menu-icon{
    display:block;
  }

  .top-wrapper h1{
    font-size:60px;
  }
  .own-wrapper h1{
    border-radius: 40px;
  }

  .right-header a{
    display:none;
  }
  .own-center{
    padding:0;
  }
  .hobby-center{
    margin:40px 0;
  }
  .hobby-row{
    flex-wrap:wrap;
  }
  .hobby-row img{
    width:100%;
  }
.H-btn{
  margin:0;
}

  footer{
    height:600px;
  }
  .footer-row{
    flex-wrap:wrap;
  }
  .footer-column{
    width:50%;
  }
}
