@media(max-width:1000px){
  .container{

  }
}

@media(max-width:670px){
  .top-wrapper h1{
    text-align:center;
    padding:0 20px;
  }

  .right-header{
    display:none;

  }

  .menu-icon{
    display:block;
  }

  .icon2{
    width:100px;
    border-radius:10px;
    margin:60px 30px 0 0;
    }

  }

  .flex-item p{
    border-left:6px solid green;
  }

  .flex-item a{
    border-left:6px solid green;
  }
}
