*{
  box-sizing: border-box;
  font-weight:bold;
}


body{
  background:#f8f8f8;
  font-family: 'Noto Sans JP', sans-serif;
  margin:0;
}

a{
  text-decoration:none;
}

h1{
  font-family: 'Lobster', cursive;
}

.btn:hover{
  cursor: pointer;
}

.container{
  width:100%;
  margin:0 auto;
  padding:0 30px;
}

header{
  height:90px;
  background-color: rgba(34, 49, 52, 0.7);
  width:100%;
  color:white;
  font-size:20px;
  position:fixed;
  z-index:10;

}

#menu-contents{
  z-index:20;
  position:fixed;
  top:0;
  width:400px;
  height:500px;
  right:-400px;
  background-color:black;
  color:white;
  opacity:0;
}
.menu-sentence{
  display:none;
  float:right;
}

#menu-icon{
  padding-top:18px;
  font-size:35px;
  float:right;
  opacity:0.8;
  transition:all 0.5s;
  display:none;
}

#menu-icon:hover{
  opacity:1.0;
}

.cross-btn{
  font-size:56px;
}

.first-btn{

}

.own-btn{

}

.left-header{
  float:left;
  font-family:cursive;
  letter-spacing:4px;
}

.left-header p{
  color:white;
  display:inline-block;
  margin:30px 0 30px 30px;
}

.right-header{
  float:right;
  text-align:center;
}


.fa {
  display:none;
}

.right-header a{
  float:left;
  color:white;
  display:inline-block;
  padding:30px 0;
  transition:all 0.5s;
  width:126px;
  height:90px;
  font-size:18px;
}

.right-header a:hover{
  background-color:rgba(255,255,255,0.3);

}

/*---------------------------トップ-------------------------------*/

.top-wrapper{
  width:100%;
  height:800px;
  padding-top:165px;
  background-image: url("../img/back-image30.jpg");
  background-size:cover;
  opacity:0.8;
}

.top-sentence{
  background-color:rgba(51,51,51,0.6);
  border-radius:8px;
  padding:8px;
}

.top-wrapper h1{
  font-family: 'Lobster', cursive;
  text-align:center;
  font-size:70px;
  letter-spacing:2px;
}

.top-wrapper h3{
  text-align: center;
}

.top-wrapper a{
  font-weight:bold;
  font-size:18px;
}

.top-wrapper p{
  text-align:center;
  font-size:18px;
  font-weight:bold;
  margin:0;
  padding-bottom:50px;
  border-bottom:4px;
  border-style:none none solid none;
}

.top-wrapper img{
  width:40%;
}


/*----------------------ページ紹介-------------------------*/

.this-wrapper{
  height:900px;
  padding:40px;
  background:rgba(255, 255, 255, 0.7);
  background-image:url("../img/back-image38.jpg");
  background-size:cover;
}

.T-btn{
  padding:10px;
  margin:0 50px;
  border-radius: 20px;
  text-align: center;
  opacity: 0.7;
  border: 1px solid gray;
  background-color: black;
  color:white;
  font-size:18px;
  transition: all 1.0s;
}

.T-btn:hover{
  opacity:1.0;
}

.this-wrapper h1{
  text-align:center;
  font-size:50px;
  margin-top:0;
  margin-bottom:120px;
  padding-top:40px;
}

.this-wrapper img{
  width:200px;
  padding-top:100px;
}

.this-wrapper p{
  text-align:center;
  padding-bottom:20px;
}

.this-wrapper ul{
  /*text-align:center;*/
}

.this-wrapper li{
  font-size:18px;
}
/*----------------------自己紹介-------------------------*/
.own-wrapper{
  padding-top:30px;
  background-image:url("../img/back-image36.jpg");
  background-size:cover;
  height:1200px;
}


.own-wrapper h1{
  background-color:gray;
  opacity:0.9;
  font-size:40px;
  letter-spacing:4px;
  font-size:60px;
  text-align:center;
  margin:70px 0 60px 0;
  color:orange;
  border:4px solid gray;
  padding-bottom:10px;
}

.own-wrapper img{
  width:230px;
  border-radius:115px;
}

.own-wrapper p{
  padding:2px 0 4px 4px;
  border-bottom:1px solid gray;
  border-left:5px solid orange;
}

.own-wrapper h2{
  padding-bottom:50px;
  font-size:30px;
  margin-top:10px;
}

.own-center{
  padding:0 300px;
  text-align:center;
}

/*----------------------趣味紹介-------------------------*/

.hobby-wrapper{
  padding-top:60px;
  background-image: url("../img/back-image35.jpg");
}

#Nowhobby{
  display:none;
}

#Background{
  display:none;
}

.H-btn{
  padding:10px;
  margin:0 50px;
  border-radius: 20px;
  text-align: center;
  opacity: 0.7;
  border: 1px solid gray;
  background-color: black;
  color:white;
  font-size:18px;
  transition: all 1.0s;
}

.H-btn:hover{
  opacity:1.0;
}

.fadeout-sentence1{
  display:none;
}

.fadeout-sentence2{
  display:none;
}

.hobby-wrapper h1{
  text-align:center;
  font-size:50px;
}

.hobby-wrapper img{
  border:1px solid gray;
}

.hobby-wrapper h2{
  text-align: center;
  font-size:28px;
  margin-top:40px;
}

.hobby-wrapper p{
  font-size:15px;
  padding-bottom:16px;
}

.hobby-btn{
  text-align: center;
  padding:15px 25px;
  margin-top:10px;
  background-color:orange;
  color:black;
  border-radius:2px;
  transition:all 0.5s;
  border-radius:12px;
}

.hobby-btn a{
  color:Black;
}

.hobby-btn:hover{
  opacity:0.8;
  margin:10px;

}

.hobby-row{
  display:flex;
  align-items: flex-start;
}

.hobby-column{
  flex-direction:column;
  margin-left:30px;
}

.hobby-center{
  margin:40px 230px;
}

.table th{
  border-radius:5px;
  background-color:#fd6767;
}

.table td{
  border-radius:5px;
  background: rgba(253, 67, 67, 0.7);
}


#under-btn{
  text-align:center;
}



/*----------------------参考リンク-------------------------*/

.link-wrapper{
  height:600px;
}

/*------------------------参考物-------------------------*/

.reference-wrapper{
  padding-top:60px;
  background-image: url("../img/back-image35.jpg");
  height:600px;
}

.reference-wrapper h1{
  text-align:center;
  font-size:40px;
  padding-bottom:20px;
  border-bottom:1px solid gray;
}

.reference-wrapper p{
  text-align:center;
}

.reference-wrapper a{
  color:white;
  background-color:black;
  transition:all 0.5s;
  opacity:0.7;
}

.reference-wrapper a:hover{
  opacity:1.0;
}

/*----------------------フッタ-------------------------*/

footer{
  height:370px;
  background-color:rgba(34,49,52,0.9);
  color:white;
  margin:40px 0 5px 0;
  padding-top:1px;
}

footer a{
  color:white;
  font-size: 15px;
}

footer h3{
  font-size:28px;
  border-bottom:1px solid gray;
}

.footer-row{
  display:flex;
}

.footer-column{
  display:flex;
  flex-direction:column;
  width:25%;
}

.footer-column p{
  text-align: left;
  font-size:15px;
}

.footer-column a{
  transition:all 0.5s;
  opacity:0.7;

}

.footer-column a:hover{
  opacity:1.0;
}

.footer-column-link a{
  margin-right:20px;
  margin-left: 10px;
}

.twitter-icon{
  color: #55acee;
  cursor:pointer;
  opacity:0.5;
  transition:all 0.5s;
}

.twitter-icon:hover{
  opacity:1.0;
}

.youtube-icon{
  color:#c4302b;
  cursor:pointer;
  opacity:0.5;
  transition:all 0.5s;
}

.youtube-icon:hover{
  opacity:1.0;
}

.studioM{
  margin:0;
  padding:0;
  width:30px;
  border-radius:30px;
  opacity:0.5;
  transition:all 0.5s;
}

.studioM:hover{
  opacity:1.0;
}

footer p{
  text-align: center;
  font-size:10px;
  margin-top:40px;

}
